# ....
echo "PiFarm host:  {{ pifarm_hostname }}.{{ pifarm_domainname }} ({{ inventory_hostname }})"
echo "PiFarm Groups: {{ group_names }}"

# [[ -r ~/.profile ]] && . ~/.profile

# TBD....cluster shell commons