
# no  Mac Preference file
.DS_Store

# no retry files
*.retry

# no logs
logs/*

# these should be private
facts/*

# attached roles
roles/ansible-role-grafana/

# preserve the running configuration in the root folder.
./farm.yml

# SMELL remove when ready
# group_vars/farmer
# group_vars/workers

