
# no  Mac Preference file
.DS_Store

# no retry files
*.retry

# no logs
logs/*

# Private facts about local cluster
facts/*
benchmarks/*

# attached roles
roles/ansible-role-grafana/

# preserve the running configuration in the root folder.
./farm.yml

# SMELL remove when ready
# group_vars/farmer
# group_vars/workers

# my temporary testing scripts that I don't want released
./scratch_*


#
authorized_keys

