
# no  Mac Preference file
.DS_Store

# no retry files
*.retry

# no logs
logs/*

# these should be private
facts/*

# attached roles
roles/ansible-role-grafana/

# preserve the running configuration
# add how to set these files up in the documentation
farm.yml

# SMELL remove when ready
group_vars/farmer
group_vars/workers

