# {{ ansible_managed }}

# https://docs.graylog.org/docs/syslog

*.* action(type="omfwd"
queue.type="LinkedList"
action.resumeRetryCount="-1"
queue.size="10000"
queue.saveonshutdown="on"
KeepAlive="on"
TCP_Framing="octet-counted"
template="RSYSLOG_SyslogProtocol23Format"
target="{{ promtail_collector }}" Port="{{ promtail_port }}" Protocol="tcp")
