# {{ ansible_managed }}
# /etc/systemd/system/promtail.service

[Unit]
Description=Promtail service
After=network.target

[Service]
Type=simple
User={{ loki_user }}
ExecStart=/usr/local/bin/promtail-linux-arm64 -config.file {{ promtail_config_file }}

[Install]
WantedBy=multi-user.target
