# /etc/systemd/system/loki.service
[Unit]
Description=Loki service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/loki-linux-arm64 -config.file /etc/loki-config.yml

[Install]
WantedBy=multi-user.target